<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Document</title>
  </head>
  <body>
    <div class="container" style="text-align: center">
      <h2>Registro de Cartera</h2>
      <form [formGroup]="form" (submit)="aceptar()" class="example-form">
        <mat-form-field class="example-full-width" *ngIf="edicion">
          <mat-label>codigo</mat-label>
          <input matInput placeholder="id" formControlName="id" />
        </mat-form-field>

        <br />
        <mat-form-field class="example-full-width">
          <mat-label>Seleccione Banco</mat-label>
          <mat-select
            [(value)]="idBancoSeleccionado"
            required
            formControlName="bancos"
          >
            <mat-option *ngFor="let c of listaBancos" [value]="c.id">
              {{ c.nombre }}
            </mat-option>
          </mat-select>
          <mat-error *ngIf="obtenerControlCampo('bancos')?.errors?.['required']">
            El banco es obligatorio.
          </mat-error>
        </mat-form-field>

        <br />
        <mat-form-field class="example-full-width">
          <mat-label>Fecha de descuento</mat-label>
          <input matInput [matDatepicker]="picker"
                 formControlName="fecha_descuento"
                 [min]="minFecha"
                 placeholder="Seleccione una fecha">
          <mat-datepicker-toggle matSuffix [for]="picker"></mat-datepicker-toggle>
          <mat-datepicker #picker></mat-datepicker>
          <mat-error *ngIf="obtenerControlCampo('fecha_descuento')?.errors?.['required']">
            La fecha es obligatoria
          </mat-error>
        </mat-form-field>

        <mat-form-field class="example-full-width">
          <mat-label>Tipo de Moneda</mat-label>
          <mat-select formControlName="moneda">
            <mat-option *ngFor="let m of tiposMoneda" [value]="m.value">
              {{ m.viewValue }}
            </mat-option>
          </mat-select>
          <mat-error
            *ngIf="obtenerControlCampo('moneda')?.errors?.['required']"
          >
            La moneda es obligatoria.
          </mat-error>
        </mat-form-field>

        <br />
        <mat-form-field class="example-full-width">
          <mat-label>Estado</mat-label>
          <mat-select formControlName="estado">
            <mat-option *ngFor="let m of tiposEstado" [value]="m.value">
              {{ m.viewValue }}
            </mat-option>
          </mat-select>
          <mat-error
            *ngIf="obtenerControlCampo('estado')?.errors?.['required']"
          >
          El estado del documento es obligatorio.
          </mat-error>
        </mat-form-field>

        <br />
        <button mat-raised-button color="primary">Aceptar</button>
        <button mat-raised-button color="warn" type="button" [routerLink]="['/components/cartera']">
          Cancelar
        </button>
        <p>{{ mensaje }}</p>
      </form>
    </div>
  </body>
</html>

