<div>
  <mat-toolbar color="warn" *ngIf="verificar()">
    <mat-icon>menu</mat-icon>
    <button mat-button [matMenuTriggerFor]="menuBancos" *ngIf="validarRol()">Bancos</button>
    <button mat-button [matMenuTriggerFor]="menuDolar" *ngIf="validarRol()">Dolares</button>
    <button mat-button [matMenuTriggerFor]="menuDeudores" *ngIf="validarRol()">Deudores</button>
    <button mat-button [matMenuTriggerFor]="menuCartera" *ngIf="validarRol()">Cartera</button>
    <button mat-button [matMenuTriggerFor]="menuDocumentos" *ngIf="validarRol()">Documentos</button>
    <button mat-button [matMenuTriggerFor]="menuUsuarios" *ngIf="validarRol()">Usuarios</button>
    <button mat-button [matMenuTriggerFor]="menuRoles" *ngIf="validarRol()">Roles</button>
    <button mat-button [matMenuTriggerFor]="menuSalir">Usuario</button>
  </mat-toolbar>

  <!-- Modifica estas rutas y añade la navegación programática -->
  <mat-menu #menuBancos="matMenu">
    <button mat-menu-item (click)="router.navigate(['/components/bancos'])">Listar</button>
  </mat-menu>

  <mat-menu #menuDolar="matMenu">
    <button mat-menu-item (click)="router.navigate(['/components/valor-dolar'])">Listar</button>
  </mat-menu>

  <mat-menu #menuDeudores="matMenu">
    <button mat-menu-item (click)="router.navigate(['/components/deudores'])">Listar</button>
  </mat-menu>

  <mat-menu #menuCartera="matMenu">
    <button mat-menu-item (click)="router.navigate(['/components/cartera'])">Listar</button>
  </mat-menu>

  <mat-menu #menuDocumentos="matMenu">
    <button mat-menu-item (click)="router.navigate(['/components/cartera-documentos'])">Listar</button>
  </mat-menu>

  <mat-menu #menuUsuarios="matMenu">
    <button mat-menu-item (click)="router.navigate(['/components/usuarios'])">Listar</button>
  </mat-menu>

  <mat-menu #menuRoles="matMenu">
    <button mat-menu-item (click)="router.navigate(['/components/roles'])">Listar</button>
  </mat-menu>

  <mat-menu #menuSalir="matMenu">
    <button mat-menu-item (click)="cerrar()">
      <mat-icon>logout</mat-icon>
      <span>Cerrar sesión</span>
    </button>
    <button mat-menu-item>
      Rol:
      <span>{{ role }}</span>
    </button>
  </mat-menu>
</div>

<router-outlet></router-outlet>
