<div>
  <mat-toolbar color="warn" *ngIf="verificar()">
    <mat-icon (click)="router.navigate(['/components/pagina-principal'])">menu</mat-icon>
    <button mat-button [matMenuTriggerFor]="menuBancos" *ngIf="role == 'ADMIN'">Bancos</button>
    <button mat-button [matMenuTriggerFor]="menuDolar" *ngIf="role == 'ADMIN'">Dolares</button>
    <button mat-button [matMenuTriggerFor]="menuDeudores" *ngIf="validarRol()">Deudores</button>
    <button mat-button [matMenuTriggerFor]="menuCartera" *ngIf="validarRol()">Cartera</button>
    <button mat-button [matMenuTriggerFor]="menuDocumentos" *ngIf="validarRol()">Documentos</button>
    <button mat-button [matMenuTriggerFor]="menuUsuarios" *ngIf="role == 'ADMIN'">Usuarios</button>
    <button mat-button [matMenuTriggerFor]="menuRoles" *ngIf="role == 'ADMIN'">Roles</button>
    <button mat-button [matMenuTriggerFor]="menuSalir">Usuario</button>
  </mat-toolbar>

  <!-- Modifica estas rutas y añade la navegación programática -->
  <mat-menu #menuBancos="matMenu">
    <button mat-menu-item (click)="router.navigate(['/components/bancos'])">Listar</button>
  </mat-menu>

  <mat-menu #menuDolar="matMenu">
    <button mat-menu-item (click)="router.navigate(['/components/valor-dolar'])">Listar</button>
  </mat-menu>

  <mat-menu #menuDeudores="matMenu">
    <button mat-menu-item (click)="router.navigate(['/components/deudores'])">Listar</button>
  </mat-menu>

  <mat-menu #menuCartera="matMenu">
    <button mat-menu-item (click)="router.navigate(['/components/cartera'])">Listar</button>
  </mat-menu>

  <mat-menu #menuDocumentos="matMenu">
    <button mat-menu-item (click)="router.navigate(['/components/cartera-documentos'])">Listar</button>
  </mat-menu>

  <mat-menu #menuUsuarios="matMenu">
    <button mat-menu-item (click)="router.navigate(['/components/usuarios'])">Listar</button>
  </mat-menu>

  <mat-menu #menuRoles="matMenu">
    <button mat-menu-item (click)="router.navigate(['/components/roles'])">Listar</button>
  </mat-menu>

  <mat-menu #menuSalir="matMenu">
    <button mat-menu-item>
      <mat-icon>manage_accounts</mat-icon>
      <span>Actualizar información</span>
    </button>

    <button mat-menu-item (click)="router.navigate(['/components/soporte-tecnico'])">
      <mat-icon>help</mat-icon>
      <span>¿Necesitas ayuda?</span>
    </button>

    <button mat-menu-item>
      Rol:
      <span>{{ role }}</span>
    </button>

    <button mat-menu-item (click)="cerrar()">
      <mat-icon>logout</mat-icon>
      <span>Cerrar sesión</span>
    </button>
  </mat-menu>
</div>

<div class="main-container">
  <router-outlet></router-outlet>
</div>
