<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Document</title>
  </head>
  <body>
    <div class="container" style="text-align: center">
      <h2>Registro de Deudores</h2>
      <form [formGroup]="form" (submit)="aceptar()" class="example-form">
        <mat-form-field class="example-full-width" *ngIf="edicion">
          <mat-label>Codigo</mat-label>
          <input matInput placeholder="Id" formControlName="id" />
        </mat-form-field>

        <br />
        <mat-form-field class="example-full-width">
          <mat-label>RUC</mat-label>
          <input
            matInput
            placeholder="RUC"
            formControlName="ruc"
            (keypress)="soloNumeros($event)"
            maxlength="11"
          />
          <mat-error *ngIf="obtenerControlCampo('ruc')?.errors?.['required']">
            El RUC es obligatorio.
          </mat-error>
          <mat-error *ngIf="obtenerControlCampo('ruc')?.errors?.['pattern']">
            Solo se permiten números.
          </mat-error>
          <mat-error *ngIf="obtenerControlCampo('ruc')?.errors?.['minlength']">
            El RUC debe tener 11 dígitos.
          </mat-error>
        </mat-form-field>

        <br />
        <mat-form-field class="example-full-width">
          <mat-label>Razón social</mat-label>
          <input matInput placeholder="Deudor" formControlName="razon_social" />
          <mat-error
            *ngIf="obtenerControlCampo('razon_social')?.errors?.['required']"
          >
            La razon social es obligatorio.
          </mat-error>
        </mat-form-field>

        <br />
        <mat-form-field class="example-full-width">
          <mat-label>Direccion</mat-label>
          <input
            matInput
            placeholder="direccion"
            formControlName="direccion"
          />
          <mat-error
            *ngIf="obtenerControlCampo('direccion')?.errors?.['required']"
          >
            La direccion es obligatoria.
          </mat-error>
        </mat-form-field>

        <br />
        <mat-form-field class="example-full-width">
          <mat-label>Teléfono</mat-label>
          <input
            matInput
            placeholder="teléfono"
            formControlName="telefono"
          />
          <mat-error *ngIf="obtenerControlCampo('telefono')?.errors?.['required']">
            El teléfono es obligatorio.
          </mat-error>
        </mat-form-field>

        <br />
        <mat-form-field class="example-full-width">
          <mat-label>Correo</mat-label>
          <input
            matInput
            placeholder="email"
            formControlName="email"
          />
          <mat-error
            *ngIf="obtenerControlCampo('email')?.errors?.['required']"
          >
            El correo es obligatorio.
          </mat-error>
        </mat-form-field>

        <br />
        <button mat-raised-button color="primary">Aceptar</button>
        <button mat-raised-button color="warn" routerLink="/components/deudores">
          Cancelar
        </button>
        <p>{{ mensaje }}</p>
      </form>
    </div>
  </body>
</html>

